@use "../../styles/partials/variables/typography";
@use "../../styles/partials/mixins/media-queries";

.page_line {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 50px 0;

  @include media-queries.small-phone {
    margin-bottom: 40px;
  }

  @include media-queries.phone {
    margin-bottom: 40px;
  }

  &__heading {
    font-family: typography.$accent-secondary;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.25);

    @include media-queries.small-phone {
      font-size: 12px;
    }

    @include media-queries.phone {
      font-size: 12px;
    }

    @include media-queries.small-tablet {
      font-weight: 500;
    }
  }

  &__line {
    flex-grow: 1;
    width: 100px;
    height: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
