@use "../../styles/partials/variables/typography";

.skill_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100px;
  height: 125px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;

  &__img {
    width: 45px;
  }

  &__title {
    text-align: center;
    font-family: typography.$accent-secondary;
  }
}
