@use "../../styles/partials/variables/palette";
@use "../../styles/partials/mixins/media-queries";

.nav {
  display: flex;
  gap: 50px;

  @include media-queries.small-phone {
    gap: 10px;
  }

  &__link {
    margin: 4px 0;
    padding: 5px;
    color: palette.$primary;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    @include media-queries.small-phone {
      font-size: 12px;
    }

    &:hover {
      color: palette.$primary-hover;
    }

    &__active {
      border-top: 4px solid palette.$accent-blue;
      margin: 0 0 4px 0;
    }
  }
}
