@use "../../styles/partials/variables/palette";
@use "../../styles/partials/mixins/media-queries";

.nav {
  display: flex;
  align-items: center;
  gap: 50px;

  @include media-queries.small-phone {
    gap: 10px;
  }

  @include media-queries.phone {
    gap: 10px;
  }

  &__link {
    padding: 10px 12px;
    color: palette.$primary;
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    @include media-queries.small-phone {
      font-size: 12px;
    }

    @include media-queries.phone {
      font-size: 12px;
    }

    &:hover {
      color: palette.$primary-hover;
    }

    &__active {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50px;
    }
  }
}
