@use "../../styles/partials/variables/palette";

.nav {
  display: flex;
  gap: 50px;

  &__link {
    color: palette.$primary;
    font-size: small;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    margin: 4px 0;
    padding: 5px;

    &__active {
      border-top: 4px solid palette.$accent-blue;
      margin: 0 0 4px 0;
    }
  }
}
