@use "../../styles/partials/mixins/media-queries";

.extended_about {
  display: flex;
  align-items: center;
  gap: 65px;

  @include media-queries.small-phone {
    flex-direction: column;
    gap: 35px;
  }

  &__imgs {
    display: flex;

    &__img1 {
      position: relative;
      z-index: 0;
    }

    &__img2 {
      position: relative;
      z-index: 1;
      margin: 50px 0 0 -150px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__para {
      line-height: 1.75;
    }
  }
}
