@use "../../styles/partials/mixins/media-queries";

.capsule_img {
  width: 275px;
  height: 400px;
  padding: 20px;
  object-fit: cover;
  border-radius: 155px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @include media-queries.small-phone {
    width: 175px;
    height: 275px;
    padding: 15px;
  }

  @include media-queries.phone {
    width: 175px;
    height: 275px;
    padding: 15px;
  }

  @include media-queries.tablet {
    width: 200px;
    height: 300px;
    padding: 15px;
  }
}
