@use "../../styles/partials/mixins/media-queries";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
}

.width_constraint {
  width: 1000px;

  @include media-queries.small-phone {
    width: 80%;
  }

  @include media-queries.phone {
    width: 80%;
  }

  @include media-queries.small-tablet {
    width: 80%;
  }

  @include media-queries.tablet {
    width: 80%;
  }
}
