@use "../../styles/partials/mixins/media-queries";

.education_card_container {
  display: flex;
  gap: 40px;

  @include media-queries.small-phone {
    flex-direction: column;
    gap: 50px;
  }

  @include media-queries.phone {
    flex-direction: column;
    gap: 50px;
  }

  @include media-queries.small-tablet {
    gap: 20px;
  }

  &__star_separator {
    width: 11px;
    object-fit: contain;
    filter: opacity(0.25);

    @include media-queries.small-phone {
      display: none;
    }

    @include media-queries.phone {
      display: none;
    }
  }
}
