@use "../../styles/partials/variables/palette";
@use "../../styles/partials/variables/typography";
@use "../../styles/partials/mixins/media-queries";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_small {
    display: flex;

    @include media-queries.small-phone {
      display: flex;
    }

    @include media-queries.phone {
      display: flex;
    }

    &__logo {
      height: 30px;
      margin-bottom: 30px;
      transition: 0.3s;

      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  &_large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;

    @include media-queries.small-phone {
      justify-content: space-evenly;
      margin-bottom: 50px;
    }

    @include media-queries.phone {
      justify-content: space-evenly;
      margin-bottom: 50px;
    }

    &__section {
      width: 30%;

      @include media-queries.small-phone {
        width: max-content;
      }

      @include media-queries.phone {
        width: max-content;
      }
    }

    &__centre {
      text-align: center;
    }

    &__logo {
      height: 40px;
      transition: 0.3s;

      @include media-queries.small-phone {
        display: none;
      }

      @include media-queries.phone {
        display: none;
      }

      &:hover {
        filter: brightness(1.25);
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 50px;

      &__external_links {
        display: flex;
        gap: 20px;

        @include media-queries.small-phone {
          gap: 16px;
        }

        @include media-queries.phone {
          gap: 16px;
        }
      }

      &__link {
        display: flex;
      }

      &__icon {
        width: 20px;
        object-fit: contain;
        transition: 0.3s;
        cursor: pointer;

        @include media-queries.small-phone {
          width: 18px;
        }

        @include media-queries.phone {
          width: 18px;
        }

        &:hover {
          filter: brightness(2.5);
        }
      }
    }

    &__btn {
      display: flex;
      gap: 10px;
      padding: 10px 20px;
      font-family: typography.$primary;
      font-weight: 700;
      color: palette.$primary;
      background: none;
      border: 1px solid palette.$border;
      border-radius: 50px;
      transition: 0.3s;

      @include media-queries.small-phone {
        display: none;
      }

      @include media-queries.phone {
        display: none;
      }

      &:hover {
        background-color: palette.$primary-btn-hover;
      }

      &__icon {
        height: 15px;
      }
    }
  }
}
